@import '../../../styles/variables';

.particles-page {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;

  .particles-controls {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    background-color: $home-page-banner-color;
    color: $home-page-banner-text-color;
  }

  .particles-control-toggle {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 10px 15px;

    .ant-switch {
      margin-right: 5px;
    }

    .ant-switch:not(.ant-switch-checked) {
      background-color: #9a9a9a;
    }
  }

  .particles-control-select {
    margin: 10px 15px;
  }

  .particles-canvas-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 0; // prevent canvas from stretching wrapper
  }

  .particles-canvas {
    flex: 1 1 auto;
  }
}