@import '../../../styles/variables';

.solar-system-page {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;

  .solar-system-canvas-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 0; // prevent canvas from stretching wrapper
  }
}