@import '~basscss/css/basscss.css';
@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: "Sarabun", Tahoma, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
