//
// GLOBAL
//
$primary-theme-color: #039BE5;
$secondary-theme-color: #777;
$media-breakpoint: 600px;

//
// MENU BAR
//
$menu-bar-color: #424242;
$menu-bar-title-color: #FFFFFF;
$menu-bar-button-color: #FFFFFF;
$menu-bar-active-button-color: $primary-theme-color;
$menu-bar-height: 65px;

//
// HOME PAGE
//
$home-page-banner-color: #262626;