.resume-page {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  .page-content {
    flex: 1 0 auto;
    margin-bottom: 50px;
  }

  .page-title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
  }

  .loading-indicator {
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
  }

  .resume-section {
    max-width: 800px;
    margin: 30px auto;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
  }

  .resume-section-header {
    font-size: 22px;
    font-weight: 500;
    padding: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 800px) {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .education-header {
    margin-top: 50px;
  }
}