@import '../../styles/variables';

.header {
  background-color: $menu-bar-color;
  padding: 0 10px 2px 10px;

  .title {
    font-size: 22px;
    font-weight: 600;
    color: white;
  }

  .ant-menu {
    background-color: $menu-bar-color;
  }

  .ant-menu-horizontal {
    border-color: $menu-bar-color;
  }

  .ant-menu-item {
    font-size: 16px;
    font-weight: 500;
  }

  .ant-menu-item:not(.ant-menu-item-selected) > a {
    color: white;
  }

  .nav-menu {
    display: block;

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .nav-dropdown {
    margin: 10px;
    display: none;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }
}