@import '../../../styles/variables';

.monty-hall-page {

  .monty-hall-buttons > .ant-btn {
    margin: 10px 0 0 10px;
  }

  .monty-hall-title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
  }

  .monty-hall-doors {
    display: flex;
    justify-content: center;
  }

  .door {
    width: 125px;
    height: 200px;
    margin: 10px 20px;
    position: relative;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      width: 75px;
      height: 125px;
      margin: 10px;
    }

    @media screen and (max-width: 300px) {
      width: 60px;
      height: 100px;
      margin: 8px;
    }

    &.selected {
      box-shadow: orange 0 0 11px 5px;
    }

    &.open {
      .door-cover {
        display: none;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .door-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a1ff;
    color: white;
    font-size: 60px;
  }

  .game-action {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;

    @media screen and (max-width: 500px) {
      height: 70px;
    }

    button {
      margin: 0 10px;
    }
  }

  .results-container {
    margin-top: 20px;
  }

  .test-output {
    display: inline-block;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 500;

    &.win {
      color: #52c41a;
    }

    &.lose {
      color: #cf1322;
    }
  }
}